
.category-bar-div ul {
  border-bottom: 1px solid #9B9E9E;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.category-bar-div {
  display: flex;
}

.category-bar-div ul li button {
  cursor: pointer;
  border: none;
  color: #9B9E9E;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.category-bar-div ul li button:hover {
  color: #656969;
}

.category-bar-div ul li button:focus {
  color: black;
  font-weight: 700;
}
