
.all-projects-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
}
/*The flex wrap allows it to move to hte next line when resizing browser*/

.featured-project-div {
  position: relative;
}

.featured-link {
  text-decoration: none;
  color: black;
}

.featured-names {
  position: absolute;
  top: 70%;
  left: 5%;
}

.featured-project-div img {
  width: 600px;
  height: 600px;
  margin-bottom: 50px;
}

.featured-title {
  background-color: white;
  padding: 5px 10px;
}

.featured-by {
  background-color: white;
  padding: 5px 10px;
  font-weight: bolder;
  width: 100px;
}

.featured-percent {
  background-color: white;
  padding: 5px 10px;
  font-weight: bolder;
  margin-top: 10px;
  width: 110px;
}
