.show-overall-div {
  font-family: 'Roboto', sans-serif;
}

.show-icon-and-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-right: 500px;
}

.show-title{
  margin-left: 120px;
}

.show-img-and-goals img {
  width: 650px;
  height: 400px;
}

.show-img-and-goals {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.show-goals-only {
  margin-left: 30px;
}

.show-lines {
  position: relative;
  padding-bottom: 30px;
}

.show-completion-line {
  position: absolute;
  width: 100%;
  border-top: 3px solid #009E74;
  top: 0px;
}

.show-grey-line {
  float: right;
  border-top: 3px solid #DCDEDD;
  top: 0px;
}

.show-backer-button {
  background-color: #009E74;
  color: white;
  padding: 15px 150px;
  font-size: 16px;
  font-weight: lighter;
  border: none;
  border-radius: 0px;
  margin-top: 20px;
}

.show-description img {
  width: 650px;
  height: 400px;
}

.show-goals-numbers-only p {
  padding-bottom: 15px;
}

.show-top-half {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #DCDEDD;
}

.show-bottom-half {
  border-top: 1px solid #DCDEDD;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.show-bottom-half h2 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.show-description {
  margin-top: 50px;
  width: 650px;
  line-height: 200%;
  letter-spacing: 0.5px;
  float: left;
}

.show-description img {
  margin-top: 50px;
}

.show-add-money {
  display: flex;
  flex-direction: column;
}

.show-add-money-input {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
}

.show-add-money-input:focus {
  border-color: #009E74;
  border: 0.5px solid #009E74;
}
