
.all-projects-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
}
/*The flex wrap allows it to move to hte next line when resizing browser*/

.featured-project-div {
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
/*The above CSS allows you to square the images*/
/*Create a div around the image, with overflow:hidden and specific width and height attributes,
that act as a frame. and inside that is your img which you set to usually to height 100% and width: auto.*/


.featured-link {
  text-decoration: none;
  color: black;
}

.featured-link:hover {
  opacity: 0.8;
}

.featured-names {
  position: absolute;
  top: 70%;
  left: 5%;
}

.featured-project-div img {
  height: 100%;
}

.featured-title {
  background-color: white;
  padding: 5px 10px;
  font-size: 28px;
}

.featured-by {
  background-color: white;
  padding: 5px 10px;
  font-weight: bolder;
  width: 100px;
}

.featured-percent {
  background-color: white;
  padding: 5px 10px;
  font-weight: bolder;
  margin-top: 10px;
  width: 110px;
}

.overall-index {
  margin-bottom: 150px;
}
