.search-results-div ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 2;
}

.search-link {
  text-decoration: none;
}

#search-results-li {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  border: 1px solid lightgrey;
}

#search-results-li:hover {
  background-color: #efeded;
}

#search-results-li p {
  font-weight: 700;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-decoration: none;
  font-size: 20px;
}


.search-input {
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 2px;
  border: none;
}

.search-input:focus {
  border-color: #009E74;
  border: 1px solid #009E74;
  border-radius: 5px;
}

.search-img {
  width: 50px;
}
