.login-div {
  background-color: #F0F0F0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100%;
}

.login-form {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 20px;
}

.login-form-title {
  margin-bottom: 15px;
  font-size: 32px;
}

.input-fields {
  padding: 15px 0px;
  padding-right: 220px;
  padding-left: 10px;
  margin-top: 20px;
  font-size: 14px;
}

.input-fields:focus {
  border: 0.5px solid;
  border-color: #009E74;
}

.input-fields::placeholder {
  font-size: 14px;
  font-weight: 100;
}

.login-button {
  background-color: #009E74;
  margin-top: 20px;
  color: white;
  padding: 12px 0;
  width: 100%;
  font-weight: 200;
  border-radius: 0;
  font-size: 14px;
}

.bottom-div {
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid #F1EEEA;
  text-align: center;
}

.top-div {
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #F1EEEA;
  text-align: center;
}

.error-messages ul li {
  padding-top: 30px;
  text-align: center;
  font-weight: 1000;
  color: red;
  list-style: none;
}

.demo {
  background-color: #39579A;
}

.login-div-or {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.login-div-or p {
  text-align: center;
  border-bottom: 1px solid #F1EEEA;
  line-height: 0.1em;
  margin: 10px 0 20px;
  width: 90%;
  font-size: 14px;
}

.login-div-or span {
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
}
